1. Basic Printing:
- Write a Python script to print the phrase 'Hello, World!'.
- Print your first name.

In [2]:
message : str = "hello, world"
print(message)

hello, world

In [3]:
first_name : str = "muhammad"
print(first_name)

muhammad

2. Printing Multiple Items:
- Print your first name and last name in a single print statement.
- Print the numbers 1, 2, and 3 in a single print statement.

In [4]:
first_name : str = "muhammad"
last_name : str = "hashir"
print(f"{first_name} {last_name}")

muhammad hashir

In [5]:
print(1, 2, 3)

1 2 3

3. Printing Special Characters:
- Print a string that includes a newline character to display text on two lines. For example:
    Hello
    World
    - Print a string that includes a tab character. For example:
    Hello World

In [6]:
print("hello\nworld")
print("hello\tworld")

hello
world
hello	world

4. Using the sep Parameter:
- Print three different words separated by commas. For example: 'apple, banana, cherry'.
- Print three different numbers separated by hyphens. For example: '1-2-3'.

In [18]:
print('apple''banana' 'cherry',sep=',')
print(1, 2, 3, sep='-')
print(1, 2, 3, sep='-')

applebananacherry
1-2-3
1-2-3

5. Using the end Parameter:
- Print two words on the same line with a space in between. For example: 'Hello World'.
- Print the numbers 1 and 2 on the same line without a space in between. For example: '12'.

In [23]:
print("hello", end=' ')
print("world")

hello world

In [27]:
print('1', end='')
print('2')

12

6. Escape Characters:
- Print a string that includes double quotes. For example: He said, "Hello!".
- Print a backslash character. For example: This is a backslash: \.

In [29]:
print("He said, \"Hello!\"")

He said, "Hello!"

7. Combining Text and Numbers:
- Print your age alongside a descriptive message. For example: 'I am 20 years old'.
- Print a number and a string together. For example: 'The number is 5'.

In [31]:
print("I am 20 years old")
print("The number is 5")

I am 20 years old
The number is 5

8. Basic Loop for Printing:
- Print the numbers 1 to 5, each on a new line using separate print statements.

In [33]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5